
.mainPage {
    /*background: linear-gradient(to top right, #33ccff 0%, #66ffcc 100%);*/
    /* background-image: url("scorebg.jpg"); */
    /*background-repeat: no-repeat;*/
    background-color: #8dcddd;
    background-size: cover;
}

#title {
font-family: 'Century Gothic';
font-weight: bold;
font-size: 80px;
margin-top: 1.5%;
margin-bottom: 1.5%;
}

.titleGame #title {
  /*display: none;*/
}

 .ScoreGame {
  margin-top: 7%;

}

.titleGame {
  background-color: #faf6e9;
  margin-top: 1%;
}

footer {
  text-align: center;
  font-family: 'Century Gothic';
  margin-top: 7%;
  font-size: 12px;
}
